	<tr class="odd gradeX">
		<td><%= item.Id_brg %></td>
		<td><%= item.Kategori %></td>
		<td><%= item.Nama_brg %></td>
		<td class="center"><%= item.Jenis%></td>
		<td class="center"><%= item.Stok_brg%></td>
		<td><%= item.Shade%></td>
		<td><%= item.Harga_brg%></td>
		<td><%= item.Deskripsi_brg%></td>
		<td><img src="/img/barang/<%= item.gambar_brg %>/main.jpg" </td>
		<td><%= item.status %></td>
	</tr>

