<tr>
    <td>
        <a href="/#">
            <img src="/img/barang/<%= item.gambar_brg %>/scart.jpg" alt="<%= item.Nama_brg %>">
        </a>
    </td>
    <td><a href="/#"><%= item.Nama_brg + ' ' + item.Shade%></a>
    </td>
    <td>
        <input name="jumlah" type="number" value="1" class="form-control">
    </td>
    <td><%= item.Harga_brg.length > 11 ? `Rp${parseInt(item.Harga_brg.substr(2, 7)) * 1000}` : `Rp${parseInt(item.Harga_brg.substr(2, 6)) * 1000}` %></td>
    <td><%= item.Harga_brg.length > 11 ? `Rp${parseInt(item.Harga_brg.substr(2, 7)) * 1000}` : `Rp${parseInt(item.Harga_brg.substr(2, 6)) * 1000}` %></td>
   <td> <form action ="/trash" method="post">
     <button type="submit" class="btn" style="background: none; border: none; color: #4fbfa8"><b class="fa fa-trash-o"></b></button>
     <input type="hidden" id="trash" name="idBrg" value="<%= item.Id_brg %>">
   </form>
</td>

</tr>      
